<div class="main_container">
  <h1><%= t "tasks.#{action_name}.title" %></h1>
  <%= form_for task do |form| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= task.errors.count %> 件のエラーがあります。</h2>

        <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-4 form_main">
        <table class="table table-borderless">
          <tr class="row">
            <td class="col-md-2"><%= form.label :title %></td>
            <td class="col-md-10"><%= form.text_field :title , size: "45"%></td>
          </tr>
          <tr class="row">
            <td class="col-md-2"><%= form.label :detail %></td>
            <td class="col-md-10"><%= form.text_area :detail, size: "45x5" %></td>
          </tr>
          <tr class="row">
            <td class="col-md-2"><%= form.label :deadline %></td>
            <td class="col-md-10"><%= form.date_field :deadline %></td>
          </tr>
          <tr class="row">
            <td class="col-md-2"><%= form.label :status %></td>
            <td class="col-md-10"><%= form.select :status, ['未着手', '着手中', '完了'] %></td>
          </tr>
          <tr class="row">
            <td class="col-md-2"><%= form.label :priority %></td>
            <td class="col-md-7"><%= form.select :priority, Task.priorities.keys.to_a %></td>
          </tr>
          <tr class="row">
            <td><strong>ラベル</strong></td>
            <td>
              <table>
                <%= form.collection_check_boxes(:label_ids, Label.all, :id, :title) do |l| %>
                  <tr>
                    <td><%= l.label{l.check_box + " #{l.text}"} %></td>
                  </tr>
                <% end %>
              </table>
            </td>
          </tr>
          <tr class="row">
            <td><%= form.submit %></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
</div>
