<h1><%= t '.title' %></h1>
<%= form_with(local: true, method: :get) do |form| %>
  <div class="form_task">
    <%= form.label :title_search, "タイトル検索" %>
    <%= form.text_field :title %>
  </div>
  <div class="form_task">
    <%= form.label :status_search, "ステータス検索" %>
    <%= form.select :status, ['','未着手', '着手中', '完了'] %>
  </div>
  <%= form.hidden_field :search, value: "true"%>
  <div class="actions">
    <%= form.submit "絞り込み検索"%>
  </div>
<% end %>


<%= link_to "終了期限(降順)でソートする", tasks_path(sort_expired: "true") %>
<table>
  <thead>
    <tr>
      <th><%= Task.human_attribute_name('title') %></th>
      <th><%= Task.human_attribute_name('detail') %></th>
      <th><%= Task.human_attribute_name('deadline') %></th>
      <th><%= Task.human_attribute_name('status') %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="title" ><%= task.title %></td>
        <td class="detail" ><%= task.detail %></td>
        <td class="deadline" ><%= task.deadline %></td>
        <td class="status" ><%= task.status %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
