<h1><%= t "tasks.#{action_name}.title" %></h1>
<div class="row search_title_status">
  <%= form_with(local: true, method: :get) do |form| %>
    <div class="col-md-5 form_task">
      <table>
        <tr>
          <td><%= form.label :title_search, "タイトル検索" %></td>
          <td><%= form.text_field :title %></td>
        </tr>
        <tr>
          <td><%= form.label :status_search, "ステータス検索" %></td>
          <td><%= form.select :status, ['','未着手', '着手中', '完了'] %></td>
        </tr>
        <tr>
          <td><strong>ラベル検索</strong></td>
          <td>
            <%= form.select :label_id, ['',*@labels.to_a] %>
          </td>
        </tr>
        <%= form.hidden_field :search, value: "true"%>
        <tr>
          <td><%= form.submit "絞り込み検索"%></td>
        </tr>
      </table>
    </div>
  <% end %>
  <div class="col-md-2 sort_deadline">
    <%= link_to "終了期限(降順)でソートする", tasks_path(sort_expired: "true")%>
  </div>
  <div class="col-md-2 sort_priority">
    <%= link_to "優先順位でソートする", tasks_path(sort_priority: "true")%>
  </div>
</div>


<div class="task_table">
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-2"><%= Task.human_attribute_name('title') %></th>
        <th class="col-md-6"><%= Task.human_attribute_name('detail') %></th>
        <th class="col-md-1"><%= Task.human_attribute_name('deadline') %></th>
        <th class="col-md-1"><%= Task.human_attribute_name('status') %></th>
        <th class="col-md-1"><%= Task.human_attribute_name('priority') %></th>
      </tr>
    </thead>

    <tbody class="row">
      <% @tasks.each do |task| %>
        <tr>
          <td class="col-md-2 title" ><%= task.title %></td>
          <td class="col-md-6 detail" ><%= task.detail %></td>
          <td class="col-md-1 deadline" ><%= task.deadline %></td>
          <td class="col-md-1 status" ><%= task.status %></td>
          <td class="col-md-1 priority" ><%= task.priority %></td>
          <div>
            <td><%= link_to '詳細', task %></td>
            <td><%= link_to '編集', edit_task_path(task) %></td>
            <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @tasks %>
</div>

<%= link_to 'New Task', new_task_path %>
