<h1><%= t '.title' %></h1>
<div class="search_title_status">
  <%= form_with(local: true, method: :get) do |form| %>
    <div class="form_task">
      <%= form.label :title_search, "タイトル検索" %>
      <%= form.text_field :title %>
    </div>
    <div class="form_task">
      <%= form.label :status_search, "ステータス検索" %>
      <%= form.select :status, ['','未着手', '着手中', '完了'] %>
    </div>
    <%= form.hidden_field :search, value: "true"%>
    <div class="actions">
      <%= form.submit "絞り込み検索"%>
    </div>
  <% end %>
</div>

<div class="sort_deadline">
  <%= link_to "終了期限(降順)でソートする", tasks_path(sort_expired: "true") %>
</div>
<div class="sort_priority">
  <%= link_to "優先順位でソートする", tasks_path(sort_priority: "true") %>
</div>

<div class="task_table">
  <table>
    <thead>
      <tr>
        <th><%= Task.human_attribute_name('title') %></th>
        <th><%= Task.human_attribute_name('detail') %></th>
        <th><%= Task.human_attribute_name('deadline') %></th>
        <th><%= Task.human_attribute_name('status') %></th>
        <th><%= Task.human_attribute_name('priority') %></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td class="title" ><%= task.title %></td>
          <td class="detail" ><%= task.detail %></td>
          <td class="deadline" ><%= task.deadline %></td>
          <td class="status" ><%= task.status %></td>
          <td class="priority" ><%= task.priority %></td>
          <td><%= link_to '詳細', task %></td>
          <td><%= link_to '編集', edit_task_path(task) %></td>
          <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @tasks %>
</div>

<br>

<%= link_to 'New Task', new_task_path %>
